<div class="block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rouded-lg shadow-lg">
    <h1 class="mb-8 text-3xl text-center font-bold" >Log in</h1>
    
    <form action="" method="POST" class="mt-4">
        <input 
            type="email"
            class="block border border-grey-light w-full p-3 rounded mb-4 focus:bg-white"
            name="email"
            placeholder="Email" required />

        <input 
            type="password"
            class="block border border-grey-light w-full p-3 rounded mb-4 focus:bg-white"
            name="password"
            placeholder="Password" required />
        

        <button type="submit" class=" rouded-md w-full  p-2 py-3 rounded bg-green-500 text-white text-center hover:bg-green-600 focus:bg-green-700"
        >Log in</button>
        {{#if error }}
            <p class="text-red-500 font-bold text-lg my-3">{{error}}</p>
        {{/if}}

    </form>

</div>